<div class="container mt-4">
    <div class="row"> 
        <div class="description-box">
            <%= link_to root_path do %>
                <div class="logo" style="width: 80px;"></div>
            <% end %>
            <div class="text-content">
                Roodge è una piattaforma che permette la condivisione di dispense e appunti tra studenti e insegnanti, sfruttando room specificatamente dedicate a una materia.
            </div>
        </div>
    </div>
</div>