<div class ="container mt-4">
    <div class="content-wrapper">
        <%= link_to root_path, class: "logo" do %><% end %>
        <div class="description-box">
            <p>Roodge è una piattaforma che permette la condivisione di dispense e appunti tra studenti e insegnanti, sfruttando room specificatamente dedicate a una materia.</p>
        </div>
    </div>
</div>